.footer{

  &__top{
    background: #252525;
  }

  &__socials{
    display: flex;
    align-items: center;
    padding: 3rem 5rem;
    justify-content: space-between;
  }
  &__socials-item{

  }
  &__link{
    font-size: 2rem;
    color: #fff;

    &:hover{
      color: rgb(32, 3, 138);
    }
  }

  &__bottom{
    background:#000;
    color:#fff;
    text-align: center;
    font-size: .8rem;
    padding: 1.5rem;
  }

  @media(max-width: 470px){
    &__socials{

      padding: 1rem;

    }
  }
}