/* ---------------------------------------- */
/* Global */
/* ---------------------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 100%;
  
  @media(max-width: 768px){
    font-size: 90%;
  }
}
body{
  font-family: sans-serif;
}
img{
  width: 100%;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}

/* ---------------------------------------- */
/* Utility classes */
/* ---------------------------------------- */

.container{
  max-width: 1180px;
  padding: 1rem;
  margin: 1rem auto;

  background: rgb(241, 241, 241);
  color: #333;


  box-shadow: inset 0px 0px 21px 3px rgba(0,0,0,0.75);
}

body{
  background: -webkit-linear-gradient(to right, #29323c, #485563);  
  background: linear-gradient(to right, #29323c, #485563); 
  padding: 1rem;
}

/* 

background: -webkit-linear-gradient(to right, #004e92, #000428);  
background: linear-gradient(to right, #004e92, #000428); 


background: -webkit-linear-gradient(to right, #29323c, #485563);  
background: linear-gradient(to right, #29323c, #485563); 


background: -webkit-linear-gradient(to right, #414345, #232526); 
background: linear-gradient(to right, #414345, #232526); 



*/