.cartLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1rem 0;
  max-width: 90vw;
  &__item {
    width: 5.25rem;
  }

  &__img {
    width: 5.25rem;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  &__trash {
    color: rgb(228, 0, 0);
    cursor: pointer;
  }

  &__changeCount {
    border: 2px solid black;
    padding: 0.5rem 0.8rem;
    font-weight: 900;
    font-size: 1.3rem;
    cursor: pointer;
    margin: 0 0.5rem;
    opacity: 0.6;
    transition: all 0.3s;
    &:hover {
      opacity: 1;
    }
  }

  @media (max-width: 470px) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 1rem;
    & > :first-child {
      grid-column: 1 / span 5;
      width: 100%;

      img {
        width: 70%;
      }
    }

    &__changeCount {
      border: 2px solid black;
      padding: 0.5rem;
      font-weight: 900;
      font-size: 1.3rem;
      cursor: pointer;
      margin: 0 0.5rem;
      opacity: 0.6;
      transition: all 0.3s;
    }
  }

  @media (max-width: 435px) {
    grid-template-columns: repeat(3, 1fr);

    & > :first-child {
      grid-column: 1 / span 3;

      img {
        width: 70%;
      }
    }
  }
}
